{% extends 'base.html' %}
{% block content %}

<h1>Star Rating Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ star.review }}</span>
        <p>Rating: {{ star.stars }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'stars_update' star.id %}">Edit</a>
        <a href="{% url 'stars_delete' star.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}