{% extends 'base.html' %}
{% block content %}

<h1> Color Details </h1>

<div class="row">
    <div class="card">
        <div class="card-content">
            <span class="card-title"> {{ color.name }} </span>
            <p>Description: {{ color.description|linebreaks }}</p>
            <p>Year: {{ color.year }}</p>
            <div class="card-action">
                <a href="{% url 'colors_update' color.id %}">Edit</a>
                <a href="{% url 'colors_delete' color.id %}">Delete</a>
            </div>
        </div>
    </div>
     <!-- Mixing Colors, Part 4 -->
  <div class="col s6">
    <form action="{% url 'add_mixing_color' color.id %}" method="POST">
      {% csrf_token %}
      {{ mixing_form.as_p }}
      <input type="submit" class="btn" value="Add Mixing Color">
    </form>
    <form method="POST">
      {% csrf_token %}
      <!-- Render the inputs -->
      {{ mixing_form.as_p }}
      <input type="submit" class="btn" value="Add Mixing Color">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Mixing Colors</th></tr>
      </thead>
      <tbody>
        {% for mixing in color.mix_set.all %}
          <tr>
            <td>{{mixing.date}}</td>
            <td>{{mixing.get_mix_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    <!-- Mixing Colors, Part 4 end -->
</div>
<hr>
<!-- Part 5 below -->
<div class="row">
  <div class="col s6">
    <h3>{{ color.name }}'s Star Ratings</h3>
    {% if color.stars.count %}
      {% for star in color.stars.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ star.number }} </span> {{ color.name }}
          </div>
          <div class="card-action">
            <form action="{% url 'unassoc_star' color.id star.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Remove Rating</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Votes Made</h5>
    {% endif %}
  </div>

  <div class="col s6">
    <h3>Ratings</h3>
    {% if stars.count %}
      {% for star in stars.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ star.number }}</span> {{ color.name }}
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_star' color.id star.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Give Rating</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{ color.name }} Has Been Voted</h5>
  {% endif %}
{% endblock %}